html, body {
}

body {
  background-color: rgb(36, 50, 59);
  font-family: Arial;
  overflow-y: auto;
}

.main-container {
  display: flex;
  justify-content: center;
}

.main-menu {
  position: relative;
  bottom: 0;
  Top: 43px;
  width: 580px;
  background-image: linear-gradient(to bottom, rgb(159, 120, 223), rgb(107, 179, 206));
  border-radius: 25px 25px 0 0;
}